h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*------------------------HEADER----------------------*/

.page-header {
  border-bottom: 1px solid #e7e9fc;
  background: var(--WHITE, #fff);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.container {
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  margin-right: 120px;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-color {
  color: #2e2f42;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 17.5px;
  padding-bottom: 17.5px;
}

/*================ MOBILE HEADER STYLES ===============*/
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
  .menu-contact {
    display: none;
  }

  .mobile-menu-open-btn {
    background: transparent;
    padding: 0;
    line-height: 0;
    border: none;
    fill: #2f2f37;
  }
}

/*================ TABLET HEADER STYLES ===============*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }

  .page-header-container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .mobile-menu-open-btn {
    display: none;
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    gap: 40px;
  }
  .nav-list-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
  .nav-list-link:hover,
  .nav-list-link:focus {
    color: #404bbf;
  }
  .menu-contact {
    display: flex;
  }
  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .menu-contact-link {
    color: #434455;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    gap: 15px;
  }
}

/*================ DESKTOP HEADER STYLES ===============*/

@media screen and (min-width: 1168px) {
  .container {
    max-width: 1158px;
  }
  .logo {
    margin-right: 76px;
  }

  .contact-list {
    flex-direction: row;
    gap: 40px;
  }
  .menu-contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
  .menu-contact-link:hover,
  .menu-contact-link:focus {
    color: #404bbf;
  }
}

/*------------------------HEADER----------------------*/

/*-------------------------HERO------------------------*/

/*================ MOBILE HEADER STYLES ===============*/

.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/mobile-bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding-top: 72px;
  padding-bottom: 72px;
}

.hero-title {
  max-width: 288px;
  color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.button-hero {
  display: block;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.button-hero:hover,
.button-hero:focus {
  background-color: #404bbf;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/mobile-bg@2x.jpg);
  }
}

/*================ TABLET HEADER STYLES ===============*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/tablet-bg.jpg);
    background-repeat: no-repeat;
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .hero-title {
    max-width: 496px;
    color: #fff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 56px;
    line-height: 1.1;
    margin-bottom: 36px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/tablet-bg@2x.jpg);
  }
}

/*================ DESKTOP HEADER STYLES ===============*/

@media screen and (min-width: 1168px) {
  .container {
    max-width: 1158px;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/tablet-bg.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1168px),
  screen and (min-resolution: 2dppx) and (min-width: 1168px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1168px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/desktop-bg@2x.jpg);
  }
}

/*------------------------HERO-----------------------*/

/*----------------------OUR BENEFITS-----------------*/

.benefits-icon-container {
  display: none;
}
.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.benefits-item-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.benefits-description {
  min-width: 288px;
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*================ TABLET BENEFITS STYLES ===============*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 766x;
  }
  .benefits-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    margin-left: auto;
    margin-right: auto;
  }

  .benefits-list-item {
    width: 356px;
  }

  .benefits-item-title {
    text-align: left;
  }
}

/*================ DESKTOP BENEFITS STYLES ===============*/

@media screen and (min-width: 1168px) {
  .container {
    max-width: 1158px;
  }
  .benefits-list {
    display: flex;
    gap: 24px;
  }

  .benefits-list-item {
    width: calc((100% - 72px) / 4);
  }

  .benefits-icon-container {
    display: flex;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    margin-bottom: 8px;
  }

  .benefits-icon {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .benefits-item-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .benefits-description {
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/*-----------------------OUR TEAM-------------------*/

/*-----------------------OUR TEAM-------------------*/
