h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*------------------------HEADER----------------------*/

.page-header {
  border-bottom: 1px solid #e7e9fc;
  background: var(--WHITE, #fff);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.container {
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  margin-right: 120px;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-color {
  color: #2e2f42;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 17.5px;
  padding-bottom: 17.5px;
}

/*================ MOBILE HEADER STYLES ===============*/
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
  .menu-contact {
    display: none;
  }
}

/*================ TABLET HEADER STYLES ===============*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }

  .page-header-container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .mobile-menu-open-btn {
    display: none;
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    gap: 40px;
  }
  .nav-list-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
  .nav-list-link:hover,
  .nav-list-link:focus {
    color: #404bbf;
  }
  .main-link {
    position: relative;
    color: #404bbf;
  }
  .main-link::after {
    display: block;
    content: "";
    position: absolute;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    bottom: -1px;
    background-color: #404bbf;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  .menu-contact {
    display: flex;
  }
  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .menu-contact-link {
    color: #434455;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    gap: 15px;
  }
}

/*================ DESKTOP HEADER STYLES ===============*/

@media screen and (min-width: 1168px) {
  .container {
    max-width: 1158px;
  }
  .logo {
    margin-right: 76px;
  }

  .contact-list {
    flex-direction: row;
    gap: 40px;
  }
  .menu-contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
  .menu-contact-link:hover,
  .menu-contact-link:focus {
    color: #404bbf;
  }
}

/*------------------------HEADER----------------------*/

/*-------------------------HERO------------------------*/

/*================ MOBILE HEADER STYLES ===============*/

.container {
  max-width: 250px;
}
.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/mobile-bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding-top: 72px;
  padding-bottom: 72px;
}

.hero-title {
  max-width: 288px;
  color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.button-hero {
  display: block;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.button-hero:hover,
.button-hero:focus {
  background-color: #404bbf;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/mobile-bg@2x.jpg);
  }
}

/*================ TABLET HEADER STYLES ===============*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/tablet-bg.jpg);
    background-repeat: no-repeat;
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .hero-title {
    max-width: 496px;
    color: #fff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 56px;
    line-height: 1.1;
    margin-bottom: 36px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/tablet-bg@2x.jpg);
  }
}

/*================ DESKTOP HEADER STYLES ===============*/

@media screen and (min-width: 1168px) {
  .container {
    max-width: 1158px;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/tablet-bg.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1168px),
  screen and (min-resolution: 2dppx) and (min-width: 1168px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1168px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/desktop-bg@2x.jpg);
  }
}

/*------------------------HERO-----------------------*/

/*----------------------OUR BENEFITS-----------------*/

.benefits-icon-container {
  display: none;
}
.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.benefits-item-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.benefits-description {
  min-width: 290px;
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*================ TABLET BENEFITS STYLES ===============*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 766x;
  }
  .benefits-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    margin-left: auto;
    margin-right: auto;
  }

  .benefits-list-item {
    width: 356px;
  }

  .benefits-item-title {
    text-align: left;
  }
}

/*================ DESKTOP BENEFITS STYLES ===============*/

@media screen and (min-width: 1168px) {
  .container {
    max-width: 1158px;
  }
  .benefits-list {
    display: flex;
    gap: 24px;
  }

  .benefits-list-item {
    width: calc((100% - 72px) / 4);
  }

  .benefits-icon-container {
    display: flex;
    height: 112px;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    margin-bottom: 8px;
  }

  .benefits-icon {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .benefits-item-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .benefits-description {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    min-width: 268px;
  }
}

/*-----------------------OUR TEAM-------------------*/
.team {
  background-color: #f4f4fd;
}
.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-item-img {
  width: 100%;
}
.team-item-container {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  justify-content: center;
}

.team-list-item {
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-item-title {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-item-description {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-list-item {
  width: 40px;
  height: 40px;
}

.social-list-link {
  width: 100%;
  height: 100%;
  display: flex;
  line-height: 0;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

.social-list-icon {
  fill: #f4f4fd;
  stroke: none;
}

/*================ TABLET OUR TEAM STYLES ===============*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 766x;
  }
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
    justify-content: center;
    align-items: center;
  }

  .team-list-item {
    width: 264px;
  }
}

/*================ DESKTOP OUR TEAM STYLES ===============*/

@media screen and (min-width: 1168px) {
  .container {
    max-width: 1158px;
  }
  .team-list-item {
    width: calc((100% - 72px) / 4);
    row-gap: 0;
  }
}
/*-----------------------OUR TEAM-------------------*/

/*-----------------------OUR PORTFOLIO-------------------*/
.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-item-overlay {
  display: none;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
}

.portfolio-item-img {
  width: 100%;
}
.portfolio-list-item {
  border: 1px solid#f4f4fd;
  background: #fff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-item-container {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  border-top: none;
}
.portfolio-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-item-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*================ TABLET OUR PORTFOLIO STYLES ===============*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 766x;
  }
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .portfolio-list-item {
    width: 356px;
  }
}

/*================ DESKTOP OUR PORTFOLIO STYLES ===============*/
@media screen and (min-width: 1168px) {
  .container {
    max-width: 1158px;
  }

  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  .portfolio-list-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
  .portfolio-img {
    position: relative;
    overflow: hidden;
  }

  .portfolio-list-item:hover .portfolio-item-overlay {
    transform: translateY(0);
  }

  .portfolio-item-overlay {
    display: block;
    color: #f4f4fd;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    top: 0;
    padding: 40px 32px;
    position: absolute;
    align-content: center;
    width: 100%;
    height: 100%;
    background: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
}
/*-----------------------OUR PORTFOLIO-------------------*/

/*---------------------------FOOTER-------------------------*/
.page-footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.logo-footer {
  display: block;
  text-align: center;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 17.5px;
}
.logo-color-footer {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.description-footer {
  width: 288px;
  color: #f4f4fd;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.social-list-title-footer {
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.social-list-footer {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-bottom: 72px;
}
.social-list-link-footer {
  display: flex;
  line-height: 0;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.social-list-icon-footer {
  fill: #f4f4fd;
  stroke: none;
}
.subscribe-text {
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.subscribe-form-input {
  width: 288px;
  height: 40px;
  background-color: transparent;
  border-radius: 4px;
  outline: 0px solid transparent;
  border: 1px solid #fff;
  opacity: 0.3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 16px;
}

.subscribe-form-input::placeholder {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}
.subscripe-form-btn {
  display: flex;
  cursor: pointer;
  min-width: 165px;
  height: 40px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 24px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscripe-form-btn:hover,
.subscripe-form-btn:focus {
  background-color: #31d0aa;
}

.subscribe-form-icon {
  margin-left: 16px;
}

/*================ TABLET FOOTER STYLES ===============*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 584x;
  }

  .page-footer-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 108px;
  }

  .logo-footer {
    display: inline-block;
    margin-bottom: 16px;
  }
  .social-list-title-footer {
    text-align: start;
  }
  .social-list-footer {
    justify-content: flex-start;
  }
  .subscribe-text {
    text-align: start;
  }

  .subscribe-form {
    display: flex;
    gap: 24px;
    padding-left: 0;
  }

  .subscribe-form-input {
    width: 264px;
  }
  .subscripe-form-btn {
    margin-left: 0;
    margin-right: 0;
  }
}
/*================ DESKTOP FOOTER STYLES ===============*/

@media screen and (min-width: 1168px) {
  .container {
    max-width: 1158x;
  }
  .page-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .page-footer-container {
    align-items: baseline;
    padding-left: 0;
  }

  .slogan-footer {
    margin-right: 120px;
  }
  .logo-footer {
    display: inline-block;
    margin-bottom: 16px;
  }
  .description-footer {
    width: 264px;
    color: #f4f4fd;
    margin-bottom: 0;
  }
  .social-media {
    width: 208px;
  }
  .social-list-footer {
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    margin-bottom: 0;
  }

  .social-list-link-footer {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  .social-list-link-footer:hover,
  .social-list-link-footer:focus {
    background-color: #31d0aa;
  }
  .social-list-title-footer {
    text-align: start;
  }

  .social-list-item-footer {
    width: calc((100% - 48px) / 4);
    gap: 16px;
  }
  .subscribe-form-wrapper {
    width: 453px;
    margin-left: 80px;
  }
}

/*---------------------------FOOTER-------------------------*/

/*------------------MOBILE MENU STYLES----------------------*/
.mobile-menu-open-btn {
  background: transparent;
  padding: 0;
  line-height: 0;
  border: none;
  fill: #2f2f37;
}

.mobile-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.mobile-menu-wrapper.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0%);
}

.mobile-menu-container {
  min-height: 640px;
}

.mobile-menu-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  line-height: 0;
  stroke: #2e2f42;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin-bottom: 168px;
}

.mobile-menu-link {
  text-align: start;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.mobile-main-link {
  color: #404bbf;
}

.mobile-menu-contact {
  margin-bottom: 48px;
}

.mobile-menu-container {
  min-width: 290px;
  margin-left: 15px;
  margin-right: 154px;
  margin-top: 72px;
}

.mobile-menu-contact-link {
  color: #434455;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mobile-contact-list-item {
  margin-bottom: 24px;
}

.color-number {
  color: #4d5ae5;
}

.mobile-menu-social-list-link {
  width: 100%;
  height: 100%;
  display: flex;
  line-height: 0;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.mobile-menu-social-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.mobile-menu-social-list-item {
  width: 40px;
  height: 40px;
}

.mobile-menu-social-list-icon {
  fill: #f4f4fd;
  stroke: none;
}

/*-----------------------BACKDROP-------------------*/
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  background: #fcfcfc;
  padding-top: 72px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.modal-close-btn:hover > .modal-close-btn-icon {
  fill: white;
}

.modal-close-btn:focus > .modal-close-btn-icon {
  fill: white;
}
.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
  padding: 0;
  position: absolute;
  right: 24px;
  top: 24px;
  line-height: 0;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-description {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.contact-form-field-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: 0px solid transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
  border-color: #4d5ae5;
}
.contact-form-input-wrapper {
  position: relative;
}

.contact-form-inpur-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.contact-form-input:focus + .contact-form-inpur-icon {
  fill: #4d5ae5;
}

.contact-form-field-wrapper {
  margin-bottom: 8px;
}

.contact-form-comment {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  resize: none;
  background-color: transparent;
  outline: 0px solid transparent;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-field-comment-wrapper {
  margin-bottom: 16px;
}
.contact-form-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.contact-form-checkbox-wrapper {
  display: flex;
  margin-bottom: 24px;
}

.contact-form-checkbox-label {
  display: inline-block;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.contact-form-color-privacy {
  color: #4d5ae5;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

.contact-form-submit-btn {
  cursor: pointer;
  display: block;
  min-width: 169px;
  padding: 16px 32px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background: #4d5ae5;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-submit-btn:hover,
.contact-form-submit-btn:focus {
  background-color: #404bbf;
}
.contact-form-own-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-checkbox:checked
  + .contact-form-checkbox-label
  > .contact-form-own-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.contact-form-checkbox:focus
  + .contact-form-checkbox-label
  > .contact-form-own-checkbox {
  outline: 1px solid #4d5ae5;
}

.contact-form-own-checkbox-icon {
  fill: #f4f4fd;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.contact-form-checkbox:checked
  + .contact-form-checkbox-label
  .contact-form-own-checkbox-icon {
  opacity: 1;
}

/*================ TABLET BACKDRO STYLES ===============*/
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
  }
}
/*-----------------------BACKDROP-------------------*/
