h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*------------------------------HEADER----------------------------*/

.page-header {
  border-bottom: 1px solid #e7e9fc;
  background: var(--WHITE, #fff);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.container {
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 17.5px;
  padding-bottom: 17.5x;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  margin-right: 120px;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-color {
  color: #2e2f42;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
  .menu-contact {
    display: none;
  }

  .mobile-menu-open-btn {
    background: transparent;
    padding: 0;
    line-height: 0;
    border: none;
    fill: #2f2f37;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }
  .mobile-menu-open-btn {
    display: none;
  }
  .page-nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-list {
    display: flex;
    gap: 40px;
  }
  .nav-list-link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .menu-contact {
    display: flex;
  }
  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .menu-contact-link {
    color: #434455;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    gap: 15px;
  }
}

/*----------------------------HEADER----------------------------*/
